{% extends "main_page.twig" %}

{% block main_page_content %}

<h1>History</h1>
<p>The hashing stats application was written by Alex Sheridan (Tender) of Sin City H4. The application is used to keep track of stats for Sin City H4, Queen City H4, Licking Valley H3, SWOT H3, Sin City H4 Bash, Dayton H3, and Miami Valley H3. Tender can be reached at <a href="mailto:alex.sheridan+ihearttender@gmail.com?subject=StatsApp">alex.sheridan+ihearttender@gmail.com</a>.</p>

<h1>Contact Local Administrators</h1>
<p>If you see any errors in the stats (someone didn't get credit for being at a hash, an event time/location was entered in wrong, etc), you can contact the administrators of this instance at <a href="mailto:{{adminEmail}}">{{adminEmail}}</a>.</p>

{% endblock %}
