{% extends "admin_base.twig" %}

{% block template %}

<script type = "text/javascript" language = "javascript">

//Call these functions upon page load
$(document).ready(function() {
  //Convert the main table into a data table
  $('#the_main_table').DataTable({
    "paging":   true,
    "pageLength": 10,
    "lengthMenu": [ [10, 50, 100, 500, -1], [10, 50, 100, 500, "All"]],
    "aaSorting": [],
    "responsive": true,
    "autoWidth": false,
    "processing": true,
    "serverSide": true,
    "ajax": {
        "url": "/admin/listhashes2",
        "type": "POST"
    },
    "columns": [

      { "data": "KENNEL_EVENT_NUMBER" },
      { "data": "KENNEL_ABBREVIATION" },
      {
        "data": "HASH_KY",
        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
          $(nTd).html("<a href='/admin/edithash/ajaxform/"+oData.HASH_KY+"'>Modify Event </a> | <a href='/admin/event/manageparticipation2/"+oData.HASH_KY+"'>Modify Participation</a>");
        }

     },
      { "data": "EVENT_DATE" },
      { "data": "EVENT_LOCATION" },
      { "data": "PLACE_ID"}
    ]
  });

});
</script>


<div class="table-responsive">
<h3>{{pageTitle}}</h3>
<h4>{{totalHashesToUpdate}} of {{totalHashes}} are left to update</hf>
<h4><a href="/admin/newhash/ajaxform"><b>Click to create an event !</b></a></h4>

<table class="table table-condensed table-hover" id="the_main_table">
  <thead>
    <tr>
      <th>Hash Number</th>
      <td>Kennel</td>
      <td>Actions</td>
      <td>Date</td>
      <td>Location</td>
      <td>Place ID</td>
    </tr>
  </thead>
  <tbody>
</table>
</div>


{% endblock %}
