<!DOCTYPE html>

<html lang="en">
<head>
  <title>Active Hasher Roster</title>
  <style type="text/css">
    table { border-collapse: collapse; }
    td { border: 2px solid black; }
    .c { min-width: 25px; max-width: 25px; }
    .d { background-color:#dfa3a3; }
    .e { background-color:#eec398; }
    .f { background-color:#f6e3a8; }
    .g { background-color:#bfeeb4; }
    .h { background-color:#a1e0ea; }
  </style>
</head>

<body>

<table>
{% for item in theList %}
  <tr>
    <td>{{item.HASHER_NAME}}</td>
    <td class="c d"></td>
    <td class="c e"></td>
    <td class="c f"></td>
    <td class="c g"></td>
    <td class="c h"></td>
    <td class="c g"></td>
    <td class="c f"></td>
    <td class="c e"></td>
    <td class="c d"></td>
    <td class="c e"></td>
    <td class="c f"></td>
    <td class="c g"></td>
    <td class="c h"></td>
    <td class="c g"></td>
    <td class="c f"></td>
    <td class="c e"></td>
    <td class="c d"></td>
  </tr>
{% endfor %}
</table>

</body>
</html>
