{% extends "fullwidth.twig" %}

{% block content %}

  <script type = "text/javascript" language = "javascript">

    //Generic function to retrieve data
    function getListData(url_value,div_value, c1, c2, c3, c4){
     var formData = {};

     //var tempDiv = "#hasherHashesByQuarter-list";
     //$(tempDiv).append("oogabooga!");
     //return;

    $.ajax({
       url : url_value,
       type: "POST",
       data : formData,
       dataType : 'json',
       success: function(data, textStatus, jqXHR){

         $(div_value).empty();
         $(div_value).append('<table id="maintable1">');
          $(div_value).append('<thead>');
            $(div_value).append('<tr>');
              $(div_value).append('<th>' +c1+ '</th>');
              $(div_value).append('<th>' +c2+ '</th>');
              $(div_value).append('<th>' +c3+ '</th>');
              $(div_value).append('<th>' +c4+ '</th>');
            $(div_value).append('</tr>');
          $(div_value).append('</thead>');
         $(div_value).append('<tbody>');

         $.each(data, function(key,row) {
           $(div_value).append('<tr>');
            $(div_value).append('<td>'+ row.HASHER_NAME + '</td>');
            $(div_value).append('<td>'+row.FIRST_HASH_KEY+'</td>');
            $(div_value).append('<td>'+row.ANALVERSARY_HASH_KY+'</td>');

            //$(div_value).append('<td><a href="/{{kennel_abbreviation}}/hashes/'+row.FIRST_HASH_KEY+'">'+ row.FIRST_HASH_DATE + '</a></td>');
            //$(div_value).append('<td><a href="/{{kennel_abbreviation}}/hashes/'+row.ANALVERSARY_HASH_KY+'">'+ row.ANALVERSARY_DATE + '</a></td>');
            $(div_value).append('<td>'+ row.DAYS_TO_REACH_ANALVERSARY + '</td>');
           $(div_value).append('</tr>');
         });

         $(div_value).append('</tbody>');
         $(div_value).append('</table>');

         //alert("success still");
         $('#maintable1').DataTable();
         //alert("success again?");
         //$('#maintable2').DataTable();
         //alert("more success?");

       },
       error: function (jqXHR, textStatus, errorThrown){
            alert("failure");
            alert(jqXHR);
            alert(textStatus);
            alert(errorThrown);
       }
    });
    }

    //Call these functions upon page load
    $(document).ready(function() {
      getListData("{{url_value}}","#location_of_main_table","Hasher","First Hash Date","Analversary Hash Date","Days to reach analversary");


    });


  </script>

  <h1>{{pageTitle}}</h1>
  <div id="location_of_main_table">
    <table id="maintable1">
      <thead>
        <tr>
          <th>Hasher</th>
          <th>First Hash Date</th>
          <th>Analversary Hash Date</th>
          <th>Days to reach analversary</th>
        </tr>
      </thead>
    </table>
  </div>

  <table id="maintable2">
    <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td>One</td>
            <td>Two</td>
            <td>Three</td>
            <td>Four</td>
            <td>Five</td>
            <td>Six</td>
          </tr>
        </tbody>
      </table>


{% endblock %}
