{% extends "fullwidth.twig" %}

{% block content %}


<script type = "text/javascript" language = "javascript">

  function rfc3986EncodeURIComponent (str) {
      return encodeURIComponent(str).replace(/[!'()*]/g, escape);
  }

  function maskName (str) {

    //Establish the return value
    var returnValue = "";

    if(!str){
      returnValue = "";
    }else{
      for (var i = 0, len = str.length; i < len; i++) {
        if(i==0){
          returnValue +=(str[i]);
        }else{
          returnValue +="*";
        }
      }
    }

    //Return the return value
    return returnValue;
  }

  function maskEmail (str) {

    //Establish the return value
    var returnValue = "";

    if(!str){
      returnValue = "";
    }else{
      for (var i = 0, len = str.length; i < len; i++) {
        if(i==0){
          returnValue +=(str[i]);
        }else if(str[i]=="@"){
          returnValue +="@";
        }else if(str[i]=="."){
          returnValue +=".";
        }else{
          returnValue +="*";
        }
      }
    }

    //Return the return value
    return returnValue;
  }

  //Call these functions upon page load
  $(document).ready(function() {
    //Convert the main table into a data table
    $('#the_main_table').DataTable({
      "paging":   true,
      "pageLength": 50,
      "lengthMenu": [ [50, 100, 500, -1], [50, 100, 500, "All"]],
      "aaSorting": [],
      "responsive": true,
      "autoWidth": false,
      "processing": true,
      "serverSide": true,
      "ajax": {
        "url": "/{{kennel_abbreviation}}/attendancePercentages",
        "type": "POST"
      },
      "columns": [
        {
          "data": "HASHER_NAME",
          "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
            $(nTd).html("<a href='/{{kennel_abbreviation}}/hashers/"+oData.HASHER_KY1+"?name="+ rfc3986EncodeURIComponent(oData.HASHER_NAME)+"'>"+oData.HASHER_NAME+"</a>");
          }
        },
        { "data": "OVERALL_PERCENTAGE" },
        { "data": "CURRENT_PERCENTAGE" },
        { "data": "CAREER_PERCENTAGE" },
        { "data": "NUM_HASHES" }
      ]
    });
  });
</script>

    <div class="table-responsive">
    <h3>{{pageTitle}}</h3>
    <h4>Overall Percentage: Percentage of all kennel's events a hasher has attended.</h4>
    <h4>Current Percentage: Percentage of events attended between hasher's first event and the hashes' last event.</h4>
    <h4>Career Percentage: Percentage of events attended between hasher's first event and hasher's last event.</h4>
    <h5>To appear in this list, hashers must have attended at least ten events.</h5>
    <table class="table table-condensed table-hover" id="the_main_table">
      <thead>
        <tr>
          <th>Hasher Name</th>
          <th>Overall</th>
          <th>Current</th>
          <th>Career</th>
          <th>Hash Count</th>
        </tr>
      </thead>
      <tbody>
    </table>
    </div>

{% endblock %}
