{% block meta_tags %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!DOCTYPE html>
{% endblock %}


<html lang="en">
  <head>
    {% block head %}
        <link rel = "stylesheet" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
        <script type = "text/javascript" src = "/vendor/components/jquery/jquery.min.js"></script>
        <script type = "text/javascript" src = "/vendor/ifightcrime/bootstrap-growl/jquery.bootstrap-growl.min.js"></script>
        <script type = "text/javascript" src = "/vendor/twbs/bootstrap/js/collapse.js"></script>
        <title>{{pageTitle}}</title>
    {% endblock %}
  </head>

  <body>

    <div class="bs-example bs-navbar-top-example" data-example-id="navbar-static-top">
      <nav class="navbar navbar-inverse navbar-static-top ">
        <div class="container-fluid">
          <div class="navbar-header">




            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-8"
                aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SCH4 Stats</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/listhashers">The Hashers</a></li>
              <li><a href="/hashingCounts">Hashing Counts</a></li>
              <li><a href="/haringCounts">Haring Counts</a></li>
              <li><a href="/listhashes">The Hashes</a></li>
              <li><a href="/admin/hello">Admin Area</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>


    <div class="container-fluid">
      {% block template %}{% endblock %}
    </div>
  </body>

</html>
