{% extends "main_page.twig" %}

{% block main_page_content %}

      <div class="row marketing">
        <div class="col-lg-6">
          <h3>Hashes where bad stuff went down</h3>
          <a href='/listhashes' >Hashes resulting in pregnancy</a><br>
          <a href='/listhashes' >Hashes where VD was contracted</a><br>
          <a href='/listhashes' >Hashes where at least 3 out of the 7 deadly sins were comitted</a><br>
        </div>

        <div class="col-lg-6">
          <h3>Other</h3>
          Not written<br>
          Not written<br>
        </div>


      </div>

{% endblock %}
