{% extends "main_page.twig" %}

{% block main_page_content %}

      <div class="row marketing">
        <div class="col-lg-6">
          <h3>Standard Statistics</h3>
          <a href="/{{kennel_abbreviation}}/hashingCounts">Hashing Counts</a><br>
          Best attended Hashes <br>
          Worst attended Hashes <br>
          Attendance statistics by year <br>
          Attendance statistics by month <br>
          Attendance statistics by state <br>
        </div>

        <!--
        <div class="col-lg-6">
          <h3>Standard Statistics</h3>
          First event<br>
          Most recent event<br>
        </div>
      -->

      </div>

{% endblock %}
