{% extends "fullwidth.twig" %}

{% block content %}

    <div class="container">

      <div class="jumbotron">
        <h1>{{pageTitle}}</h1>
        <p>This site is dedicated to the meticulous tracking of hashing statistics. And {{ random(['octopuses', 'dinosaurs', 'whales', 'sharks', 'camels', 'parrots', 'platypuses', 'toucans', 'monsters', 'zombies', 'alligators', 'crocodiles', 'footwear', 'soap', 'shoe shine', 'comets', 'bugs', 'submarines', 'sandwiches', 'yard sales', 'brown bears',
           '<a href=\'javascript:toggleDarkMode()\'>the moon</a>']) |raw }}.</p>
      </div>

      {% block main_page_content %}{% endblock %}

      <br>
    </div>

{% endblock %}
