{% extends "main_page.twig" %}

{% block main_page_content %}

      <div class="row marketing">
        <div class="col-lg-6">
          <h3>Year by year summaries</h3>
          <a href='/statistics/getYearInReview/2016' >2016</a><br>
          <a href='/statistics/getYearInReview/2015' >2015</a><br>
          <a href='/statistics/getYearInReview/2014' >2014</a><br>
          <a href='/statistics/getYearInReview/2013' >2013</a><br>
        </div>

        <div class="col-lg-6">
          <h3>Standard Statistics</h3>
          First event<br>
          Most recent event<br>
        </div>


      </div>

{% endblock %}
