{% extends "fullwidth.twig" %}

{% block content %}

    <div class="container">
      <h1>{{pageTitle}}</h1>
      <p>This site is dedicated to the advancement of mankind, world peace, and mature behavior.</p>
      <div class="row">
        <div class="col-sm-4" style="background-color:yellow;">
          <h3>Standard Stuff</h3>
          <a href='/listhashers'>The Hashers (People. And dogs.)</a><br>
          <a href='/hashingCounts'>The Hashing Counts</a><br>
          <a href='/haringCounts'>The Haring Counts</a><br>
          <a href='/nonHyperharingCounts'>The Haring Counts (Hypers excluded)</a><br>
          <a href='/listhashes'>The Hashes (Events)</a><br>
        </div>
        <div class="col-sm-4" style="background-color:pink;">
          <h3>Analversaries</h3>
          <a href='/pendingHareAnalversaries'>Impending Hare Analversaries</a><br>
          <a href='/pendingHasherAnalversaries'>Impending Hasher Analversaries</a><br>
        </div>
        <div class="col-sm-4" style="background-color:yellow;">
          <h3>Haring Statistics</h3>
          <a href='/haringPercentageAllHashes'>Hashings to harings percentage</a> <br>
          <a href='/haringPercentageNonHypers'>Hashings to harings percentage (excluding hypers)</a><br>
          <a href='/hashattendance/byhare/lowest'>Lowest Attendances by Hare</a><br>
          <a href='/hashattendance/byhare/highest'>Highest Attendances by Hare</a><br>
          <a href='/hashattendance/byhare/average'>Average Attendances by Hare</a><br>
          <a href='/hashattendance/byhare/grandtotal/nondistincthashers'> Grand total Attendance by Hare</a><br>
          <a href='/hashattendance/byhare/grandtotal/distincthashers'>Grand total attendance by Hare (distinct people excluding themselves)</a><br>
          <a href='/percentages/percentageofharingsthatwerehypers'>Hyper vs non-hyper haring percentages </a><br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4" style="background-color:pink;">
          <h3>Cautionary Stats</h3>
          <a href='/listhashes'>Hashes resulting in pregnancy</a><br>
          <a href='/listhashes'>Hashes where VD was contracted</a><br>
          <a href='/listhashes'>Hashes where at least 3 out of the 7 deadly sins were comitted</a><br>
        </div>
        <div class="col-sm-4" style="background-color:yellow;">
          <h3>Secret Logon Pages</h3>
          <a href='/logonscreen'>The Admin Logon Screen</a><br>
          <a href='/superadmin/hello'>The Super Admin Logon Screen</a><br>
          <a href='/admin/hello'>The Admin Landing Screen</a><br>
          <a href='/superadmin/hello'>The Super Admin Landing Screen</a><br>
        </div>
      </div>
    </div>

{% endblock %}
