{% extends "fullwidth.twig" %}

{% block content %}
<script type = "text/javascript" src = "/node_modules/wordcloud/src/wordcloud2.js"></script>


  <div class="container">
    <h1>{{pageTitle}}</h1>
    <h2>{{pageSubTitle}}</h2>



    <div class="row">
      <div id = "div_one" class="col-sm-12" style="width:100%;height:600px">
        <h4>Most Frequent Hashername Substrings</h4>
        <canvas id="my_canvas" class="wordcloud"></canvas>
      </div>
    </div>

    <script type = "text/javascript" language = "javascript">
        var canvas = document.getElementById("my_canvas");
        var parent = document.getElementById("div_one");
        canvas.width = parent.offsetWidth;
        canvas.height = parent.offsetHeight;
    </script>

    <script>
          var options = {
            list: [
              {% for item in subStringArray %}
                  [
                  "{% autoescape 'js' %}{{item.THE_VALUE}}{% endautoescape %}"
                  ,
                  "{{min(80,item.THE_COUNT * 5)}}"],
              {% endfor %}
            ],
            drawMask: false,
            shape: "circle",
            gridSize: 7
          };

          WordCloud(document.getElementById('my_canvas'), options );
    </script>






  </div>
{% endblock %}
