{% extends "fullwidth.twig" %}

{% block content %}
  <script type = "text/javascript" src = "/vendor/components/jquery/jquery.min.js"></script>
  <script type = "text/javascript" src = "/vendor/ifightcrime/bootstrap-growl/jquery.bootstrap-growl.min.js"></script>
  <script type = "text/javascript" src = "/node_modules/wordcloud/src/wordcloud2.js"></script>

  <script type = "text/javascript" language = "javascript">

  </script>




<div class="container">
  <h1>{{pageTitle}}</h1>
  <div class="row">
    <div id = "div_one" class="col-sm-12">
      <canvas id="my_canvas" class="wordcloud"></canvas>
    </div>
  </div>

<script type = "text/javascript" language = "javascript">
    var canvas = document.getElementById("my_canvas");
    var parent = document.getElementById("div_one");
    canvas.width = parent.offsetWidth;
    canvas.height = parent.offsetHeight *2;
</script>

  <div class="row">
    <div class="col-sm-6" id = "div_two">
      <canvas id="my_canvas2" class="wordcloud"></canvas>
    </div>
    <div class="col-sm-6">
      <canvas id="my_canvas3" class="wordcloud"></canvas>
    </div>
  </div>

  <script type = "text/javascript" language = "javascript">
      var canvas = document.getElementById("my_canvas2");
      var parent = document.getElementById("div_two");
      canvas.width = parent.offsetWidth;
      canvas.height = parent.offsetHeight *2;
  </script>

</div>

<script>
/*
    var canvas = document.createElement('my_canvas');
    div_one_variable = document.getElementById('div_one');
    canvas.width = div_one_variable.clientWidth;
    canvas.height = div_one_variable.clientHeight;
    canvas.setClass("wordcloud");
    div_one_variable.appendChild(canvas);
    */
</script>





<script>



      var options = {
        list: [
          {% for item in theList %}
              [
                "{{item.HASHER_NAME}}"
                ,
                "{{item.THE_COUNT}}"
              ]
              ,
          {% endfor %}
        ],
        backgroundColor: "white",
        drawMask: false,
        shape: "diamond",
        gridSize: 1
      };

      WordCloud(document.getElementById('my_canvas'), options );
      WordCloud(document.getElementById('my_canvas2'), options );
      //WordCloud(document.getElementById('my_canvas3'), options );

      //var thesize = document.getElementById('my_canvas').offsetWidth / 1024;
      //alert(thesize);
</script>

{% endblock %}
