<?php

define("DB_DRIVER","pdo_mysql");
define("DB_NAME","yourdatabasename");
define("DB_HOST","yourdatabasehost");
define("DB_PORT","yourdatabaseport");
define("DB_USER","yourusername");
define("DB_PASSWORD","yourpassword");
define("DB_READ_ONLY_USER","yourusername");
define("DB_READ_ONLY_PASSWORD","yourpassword");

define("DEFAULT_USER_PASSWORD","yourlongpasswordstring");
